# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\bboss\Documents\School\Masters\Workspaces\420\HW\Lambdas and Inner Classes1\.idea/dataSources/
/dataSources.local.xml
